/* ===============================================================
  ------------- Base styles: opinionated defaults-----------------
   ============================================================== */

html {
    color: #222;
    font-size: 1em;
    font-family: 'Raleway';
}

a {
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

.hidden {
    display: none !important;
}

ul,
li {
    list-style-type: none;
}

.loader {
    position: fixed;
    z-index: 9999;
    background: url('../img/gg.gif') 50% 50% no-repeat;
    background-size: 5%;
    background-color: black;
    opacity: 0.5;
    /*background-image: url(../img/backgroundgen.png)100%; */
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    cursor: progress;
}

::placeholder {
    font-style: italic;
    text-align: center;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*------- Banniere ----*/

/* =============================================
  ------------------- PAGE 1 -------------------
   ============================================= */

.page_home {
    height: 100vh;
    width: 100%;
    background-image: url(../img/fond%20web%20inter.png);
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

/*.fa-graduation-cap {
    color: #fff;
    font-size: 1em;
}*/

.Mactosh {
    height: 750px;
    width: 750px;
    margin-top: 100px;
    right: 150px;
    margin-left: 100px;
}


#wait {
    display: flex;
    flex-direction: column;
}

.titleone {
    color: white;
    font-family: lobster;
    font-size: 50px;
    padding-top: 100px;
    margin-right: auto;

    display: inline-block;
    position: relative;



}

.titleone::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.titleone:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.kezako {
    color: white;
    font-size: 30px;
    margin-right: 100px;
    font-family: quicksand;
    line-height: 40px;
    text-align: justify;
}

.listelink {
    display: flex;
}

.videolink {
    color: white;

    font-family: Love Ya Like A Sister;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;

    padding: 20px;
    margin: 70px;
}

.pvids {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: -10px;
}


.videolink:hover {
    border-radius: 20px;
    transition: transform 1.25s ease-out;
}

/* =============================================
  ------------------- PAGE 2 -------------------
   ============================================= */

.page_desc {
    height: 100vh;
    width: 100%;
    background-color: white;
    background: url(../img/fond%20web%20mid.png);
    background-size: cover;



}

/* =============================================
  ------------------- PAGE 3 -------------------
   ============================================= */

.page_graphics {
    height: 100vh;
    width: 100%;
    background-color: white;
    background-image: url(../img/fond%20web%20fin.png);
    background-size: cover;
}
